body{
    padding-left: 25%;
    padding-right: 25%;
}
#calc{
    background-color: #8F3985;
    margin: auto;
    margin-top: 80px;
    border: 10px solid ;
    border-radius: 5px;
}
h1{
    background-color: #8F3985;
    text-align: center;
    color: #EFD9CE;
    border: 5px solid #98DFEA;
    font-size:40px;
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto auto;
    border: 5px solid #98DFEA;
}
button{
    color:#8F3985;
    text-align:center;
    font-size: 30px;
    background-color: #EFD9CE;

}
#zero{
    grid-column:1/span 2;
}
.start{
    grid-column:1/span 2;
}
.div,.mul,.add,.sub,.eq{
    background-color:rgb(192, 135, 116);
}
.screen {
    font-size: 2.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #98DFEA;
    width: 100%;
    height: 20%;
    min-height: 100px;
    border-radius: 5px;
    background-color: #25283D;
    margin-bottom: 10px;
}
.screen p {
    margin: 0.5rem;
    vertical-align: text-bottom;
}